*{
  margin: 1px;
}

.body{
  background-image: url(c:\Users\admin\Desktop\project11\image2.png);
}
.button{
  margin-left: 500px;
  margin-bottom: 50px;
  background-color: rgb(85, 85, 248);
  border-radius:10px ;
  color: white;
  font: 600;
  width: 200px;
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 2px 2px 2px; 
}

.card{
  width: 300px;
  padding: 10px;
}
.content{
  display: flex;
  overflow: auto;
  margin:10px;
  width: 100%;
  
}


/* .x{
  background-color: blue;
  color: white;
} */